/* style.css */

.ploneun-missions-missionreport_view h1,
.ploneun-missions-missionreport_view h2,
.ploneun-missions-missionreport_view h3 {
    text-decoration:underline;
}

.ploneun-missions-missiontravel_view .country-row {
    background: #eee;
}

.ploneun-missions-missiontravel_view .markday {
    background: #aaa;
    text-align: center;
    font-size: 8px;
}

.ploneun-missions-missiontravel_view .day-cell {
    width:5px;
    font-size:10px;
    padding-left:0;
    padding-right:0;
}

.ploneun-missions-missiontravel_view .person-row {
    border-top: 1px solid rgb(221, 221, 221);
}

.mission-details {
    float:right;
    padding:5px;
    width:300px;
    border:1px solid #eee;
    margin-top:20px;
}

.mission-details td,
.mission-details th {
    padding:8px;
}

.mission-details th {
    width:100px;
    text-align:right;
    vertical-align: top;
    
}

.mission-details th.header {
    background:#eee;
    text-align:center;
}
.edit-mission {
    text-align: right;
}
.mission-note {
    margin-top: 10px;
}
.mission-icon {
    vertical-align: top;
}
